<html lang="en">
<head>
  <meta charset="utf-8"/>
  <!-- passed in variables in handlebars are surrounded by two curly braces like the following
       Any variable you pass into res.render will be available by name in the template through
       the curly braces
  -->
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to page 3</h1>

  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>

  <h2>Add a Dog</h2>
  <!-- Form to create a new Dog with name, breed, and age -->
  <form id="dogForm" name="dogForm" action="/setDog" method="POST">
    <label for="firstname">First Name: </label>
    <input id="firstname" type="text" name="firstname" placeholder="First Name" required/>
    <label for="lastname">Last Name: </label>
    <input id="lastname" type="text" name="lastname" placeholder="Last Name" required/>
    <label for="breed">Breed: </label>
    <input id="breed" type="text" name="breed" placeholder="Breed" required/>
    <label for="age">Age: </label>
    <input id="age" type="number" name="age" min="0" placeholder="Age" required/>
    <input type="submit" value="Add Dog" />
  </form>

  <h2>Search Dog by Name</h2>
  <!-- Form to lookup a dog by name and increase its age -->
  <form id="findDogForm" name="findDogForm" action="/findDogByName" method="GET">
    <label for="name">Dog Name: </label>
    <input id="name" type="text" name="name" placeholder="Dog Name" required/>
    <input type="submit" value="Find Dog and Increase Age" />
  </form>
</body>
</html>